<style>
	.shadowed{
	width:110px;
	}
	.lol {
  font-size: 20px;
	position: relative;
    top: 4px;
    left: 2px;
	color:#FE9500 !important;
}
</style>
<!-- 전월비 매출 자료 -->
<div class="section mt-1 mb-1">
	<div class="card">
		<div class="mtable" style="padding-left:10px;">
			
			<table  style="width:55%; float:left;" >
			  <thead>
				<tr>
				  <th scope="col" style="width:5%"></th>
				  <th colspan="3" scope="col" style="width:50%"><div class="chip chip-warning" style="margin-left: -10px;">전월비 매출상승</div></th>
				</tr>
			  </thead>
			  <tbody >
				<tr>
				  <th colspan="3" scope="row">상위 5개 업장 (%, 만)</th>
				  <td></td>	
				</tr>  
				<% if @companylist_top.present? %>			  
				  <% for i in 0...@companylist_top.length do %>	
					<tr>
					  <th scope="row"><%= i+1 %></th>
					  <td><%= @companylist_top[i]["shop_nm"].first(4) %></td>	
					  <td>
					  <% if @companylist_top[i]["shwng_salesrateprevm"] >= 0.0 %>
						<font color="blue"><%= @companylist_top[i]["shwng_salesrateprevm"] %></font>
					  <% else %>
						<font color="red"><%= @companylist_top[i]["shwng_salesrateprevm"] %></font>
					  <% end %>
					  <td><%= @companylist_top[i]["매출"] %></td>
					</tr> 
				  <%end%>
				<%end%>
				<tr>
				  <th colspan="3" scope="row">하위 5개 업장 (%, 만)</th>			
				  <td></td>	
				</tr>
				<tr>
				<% if @companylist_bottom.present? %>			  
				  <% for i in 0...@companylist_bottom.length do %>	
					<tr>
					  <th scope="row"><%= i+1 %></th>
					  <td><%= @companylist_bottom[i]["shop_nm"].first(4) %></td>	
					  <td>
					  <% if @companylist_bottom[i]["ratio"] >= 0.0 %>
						<font color="blue"><%= @companylist_bottom[i]["ratio"] %></font>
					  <% else %>
						<font color="red"><%= @companylist_bottom[i]["ratio"] %></font>
					  <% end %>
					  <td><%= @companylist_bottom[i]["sales"] %></td>
					</tr>
				  <%end%>
				<%end%>
			  </tbody>
			</table>
			
			<table style="width:43%">
			  <thead>
				<tr>
				  <th scope="col" style="width:5%"></th>
				  <th colspan="2" scope="col" style="width:45%"><div class="chip chip-warning" style="margin-left: -12px;">최근 매출</div></th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <th colspan="2" scope="row" style="padding-left: 10px;">매출 리스트</th>			
				  <td></td>	
				</tr>
				<% if @latelysales_list.present? %>			  
					<% for i in 0...@latelysales_list.length - 3 do %>
						<tr style="border-left: 1px solid #cdd0d4;">
						  <th scope="row">&nbsp;&nbsp;&nbsp;<%= i+1 %></th>
						  <td>[<%= @latelysales_list[i]["date"] %>]</td>
						  <td><%= @latelysales_list[i]["sales"] %>억</td>
						</tr>
					<%end%>
				<%end%>
			  </tbody>
			</table>
		</div>
	</div>
</div>


