<div class="section mt-1 mb-1">
	<div class="card">
		
		<div class="title">
		   <div class="card-title">월별 매출 비교 (단위 만원)</div>
		   <div class="card-title_2">
				<span id="sum" class="badge badge-secondary" onclick="moverange('1')" >합</span>
				<span id="avr" class="badge badge-secondary" onclick="moverange('2')" >평균</span>
		   </div>
		</div>
		<div class="toparea">
				<div style="float: left; width: 26%;">
				
				</div>
				<div style="float: left; width: 27%;">
					기준월
				</div>
				<div style="float: left; width: 30%;">
					비교월
				</div>
				<div style="float: left; width: 15%;">
				
				</div>

			
			
			
				<div style="float: left; width: 26%;">
				
				</div>
				<div style="float: left; width: 27%;">
					<select name="year_1" id="year_1_select" >
					</select>
				</div>
				<div style="float: left; width: 30%;">
					<select name="year_2" id="year_2_select">
					</select>
				</div>
				<div style="float: left; width: 15%;">
				
				</div>
			
			
			

				<div style="float: left; width: 26%;">
				
				</div>
				<div style="float: left; width: 27%;">
					<select name="month_1" id="month_1_select">
						<option value="01">1월</option>
						<option value="02">2월</option>
						<option value="03">3월</option>
						<option value="04">4월</option>
						<option value="05">5월</option>
						<option value="06">6월</option>
						<option value="07">7월</option>
						<option value="08">8월</option>
						<option value="09">9월</option>
						<option value="10">10월</option>
						<option value="11">11월</option>
						<option value="12">12월</option>
					</select> 
				</div>
				<div style="float: left; width: 30%;">
					<select name="month_2" id="month_2_select" onchange="onSelect()">
						<option value="01">1월</option>
						<option value="02">2월</option>
						<option value="03">3월</option>
						<option value="04">4월</option>
						<option value="05">5월</option>
						<option value="06">6월</option>
						<option value="07">7월</option>
						<option value="08">8월</option>
						<option value="09">9월</option>
						<option value="10">10월</option>
						<option value="11">11월</option>
						<option value="12">12월</option>
					</select>
				</div>
				<div style="float: left; width: 15%;">
				
				</div>
		</div>
		
		
		<div class="card-body">

			<ul class="listview image-listview">
				<% if sfgavg.present? %>
				<li>
					<a href="#" class="item" onclick="opentab(event, 'SFG')" >
						<div class="in1">
							<div class="in1body">
								<div class="t">
									<div class="chip chip-warning">SFG</div>
								</div>
							</div>
						</div>
					
						<% sfgavg.each do |info| %>
						<div class="in">
							<div class="in2body">
								<% if info['total'].present? %>
								<div class="t"><%= number_with_delimiter( (info['total'] * 0.0001).to_i, delimiter: ",") %></div>
								<% end %>
							</div>
						</div>	
						<% if info.key?('per') && !info['per'].blank? %>
							<div class="in">
								<div class="in2body">
									<div class="t">
										<% if info['per'] >= 0.0 %>
											<font color="blue">▲<%= info['per'].abs %></font>
										<%else %>
											<font color="red">▽<%= info['per'].abs %></font>
										<% end %>
									</div>
								</div>
							</div>
						<% end %>
						<% end %>
					</a>
				</li>
				<% end %>
				
				<% if businessavg.present? %>
				<% businessavg.each do |key, value| %>
				<li>
					<a href="#" class="item" onclick="opentab(event, '<%= key %>')" >
						<div class="in1">
							<div class="in1body">
								<div class="t">
									<div class="chip chip-warning"><%= key %></div>
								</div>
							</div>
						</div>
						<div class="in">
							<div class="in2body">
								<% if value[:first].present? %>
								<div class="t"><%= number_with_delimiter( (value[:first] * 0.0001).to_i, delimiter: ",") %></div>
								<% end %>
							</div>
						</div>
						<div class="in">
							<div class="in2body">
								<% if value[:second].present? %>
								<div class="t"><%= number_with_delimiter( (value[:second] * 0.0001).to_i, delimiter: ",") %></div>
								<% end %>
							</div>
						</div>
						<div class="in">
							<div class="in2body">
								<div class="t">
									<% if value[:per].present? %>
										<font 
									<% if value[:per] >= 0.0 %>
										color="blue">▲
									<%else %>
										color="red">▽
									<% end %>
									<%= value[:per].abs %>
									</font>
									<% end %>
								</div>
							</div>
						</div>
					</a>
				</li>
			<% end %>
			<% end %>
			</ul>
		</div>
</div>	
	
<!--
<div class="section mt-1 mb-1">
	<div class="card">
		<div class="card-body">

			<canvas id="myChart"></canvas>

				<script> 
					var ctx = document.getElementById('myChart'); 
					var myChart = new Chart(ctx, { 
						type: 'bar', 
						data: { 
							labels: ['월', '화', '수', '목', '금', '토', '일'],
							datasets: [{ 
								label: '# of Votes', 
								data: [12, 19, 3, 5, 2, 3, 20], 
								backgroundColor: [ 
									'rgba(54, 162, 235, 0.2)',
									'rgba(54, 162, 235, 0.2)', 
									'rgba(54, 162, 235, 0.2)',
									'rgba(54, 162, 235, 0.2)',
									'rgba(54, 162, 235, 0.2)',
									'rgba(54, 162, 235, 0.2)',
									'rgba(54, 162, 235, 0.2)',
								], 
								borderColor: [ 
									'rgba(54, 162, 235, 0.2)',
									'rgba(54, 162, 235, 0.2)',
									'rgba(54, 162, 235, 0.2)',
									'rgba(54, 162, 235, 0.2)',
									'rgba(54, 162, 235, 0.2)',
									'rgba(54, 162, 235, 0.2)',
									'rgba(54, 162, 235, 0.2)',
								], 
								borderWidth: 1 
							}] 
						}, 
						options: {
							scales: { 
								yAxes: [{ 
									ticks: { 
										beginAtZero: true
									} 
								}] 
							} 
							,
							legend: { 
								display: false 
							} 
						} 
					}); 

				</script>


		</div>
	</div>
</div>
-->

<div class="section mt-1 mb-1">
	<div class="card">

		<div class="card-body">

			<ul class="listview_new simple-listview">
				<% if shopsavg.present? %>
			    <% shopsavg.each do |key, value| %>
					<div id="<%= "#{key}" %>"  class="tabcontent" style="display: none;" >
						<%= render 'sales_analysis/rangemonth/shoppart.html.erb', value: value %>
					</div>
				<% end %>	
			    
				<div id="SFG"  class="tabcontent" style="display: none;" >
				<% shopsavg.lazy.select{|key, value| key != '자작'}.each do |key, value| %>
					<%= render 'sales_analysis/rangemonth/shoppart.html.erb', value: value %>
				<% end %>
				</div>
				<% end %>
			</ul>

		</div>
	</div>
</div>