<% if datas.present? %>
<% datas.each do |key, info| %>
<% if info.present? %>
<h1>
</h1>
	<li>
		<a href="#" class="item"  onclick="opentab(event, '<%= key %>')" >
			<div class="in1">
				<div class="in1body">
					<div class="t">
						<div class="chip chip-warning"><%= key %></div>
					</div>
				</div>
			</div>
			<div class="in">
				<div class="in2body">
					<div class="t">
						<% if info[datakey1].present? %>
							<%= (info[datakey1] * 0.0001).floor(1)  %>
						<% else %>
							-
						<% end %>
					</div>
				</div>
			</div>
				<div class="in">
				<div class="in2body">
					<div class="t">						
						<% if info[datakey2].present? %>
							<%= (info[datakey2] * 0.0001).floor(1)  %>
						<% else %>
							-
						<% end %>
					</div>
				</div>
			</div>
			<div class="in">
				<div class="in2body">
					<div class="t">
						<% if info[datakey3].present? %>
							<%= (info[datakey3] * 0.0001).floor(1)  %>
						<% else %>
							-
						<% end %>
					</div>
				</div>
			</div>
		</a>
	</li>		
<% end %>
<% end %>
<% end %>