<% if datas.present? %>
<% datas.each do |key, shops| %>
<div id="<%= "#{key}" %>"  class="tabcontent" > 					
	<% shops.each do |shop| %>
		<li>
			<div class="item">
				<div class ="s_item_in1"><%= shop['shop_nm'].first(5) %></div>					
				<div class ="s_item_in2">
				<% if shop[datakey1].present? %>
					<%= shop[datakey1].floor(1) %>
				<% else %>
					-
				<% end %>
				</div>
				<div class ="s_item_in2">
				<% if shop[datakey2].present? %>
					<%= shop[datakey2].floor(1) %>
				<% else %>
					-
				<% end %>
				</div>
				<div class ="s_item_in2">
				<% if shop[datakey3].present? %>
					<%= shop[datakey3].floor(1) %>
				<% else %>
					-
				<% end %>
				</div>
			</div>	
		</li>
	<% end %>
</div>
<% end %>					
<% end %>