<%= content_for :stylesheet_includes do %>
<style>
	.card .card-body {
		padding: 7px;
		line-height: 1.4em;
	}

	.card .card-title {
		color: #141515;
		font-size: 18px;
		font-weight: 700;
		margin-top: .6rem;
	}

	.card .c_title {
		color: #141515;
		font-size: 15px;
		padding: 5px 10px;
		font-weight: 700;
		 margin-top: .6rem;
	}

	.card .chart_title {
		color: #141515;
		font-size: 18px;
		font-weight: 700;
		margin-top: .6rem;
	}
	.card .listview .in1{
		padding-right : 5px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	.card .listview .in2{

		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 40%;
	}
	.card .listview .in2 .chip{
		height: 30px;
		line-height: 30px;
		display: block;
		text-align: left;
		font-size: 16px;
		margin-top : 5px;
		margin-bottom : 5px;
		padding-left: 15px;
		width: 100%;
	}

	.card .listview .in1 .chip{
		height: 25px;
		line-height: 25px;
		display: block;
		text-align: left;
		font-size: 16px;
		margin-top : 5px;
		margin-bottom : 5px;
		padding-left: 15px;
		width: 100%;
	}

	.card .listview .t{
		height: 18px;
		line-height: 18px;
		display: block;
		text-align: left;
		font-size: 15px;
		margin-top : 5px;
		margin-bottom : 5px;
	}

	.btn_body {
		padding: 7px;
	}

	.btn_body .btn {

		font-size: 13px;

	}	
	#appCapsule {
		padding: 25px 0;}
	body{
		padding: 0px 8px;
}
	}

	/* .iframe100 {   display: block;   border: none;   height: 400px;   width: 100%; } */

</style>
<% end %>
<%= content_for :javascript_includes do %>
  <%= javascript_pack_tag 'attchfiles', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'reportrooms', 'data-turbolinks-track': 'reload' %>
<% end %>

 <div class="appHeader bg-primary">
	<div class="left">
		<a href="#" class="headerButton" data-toggle="modal" data-target="#sidebarPanel">
			<ion-icon name="menu-outline"></ion-icon>
		</a>
	</div>
	<div class="pageTitle">
		보고 수정
	</div>

</div>
<div id="appCapsule">
	<div class="section inset mt-2">
	</div>
</div>

<div class="appBottomMenu">
	<div class="dropdown">
		<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="margin-left:10px">
			보고방선택
		</button>
		<div class="dropdown-menu" style="">
			<% @roomtype2.each do |type| %>
				<a class="dropdown-item" href="/reportrooms/type/<%=type['bb_id'] %>"> <%= type['bb_nm']%></a>
			<% end %>
		</div>
	</div>

	<a href="/main" class="item">
		<div class="col">
			<ion-icon name="home-outline" role="img" class="md hydrated" aria-label="home outline"></ion-icon>
		</div>
	</a>

	<a onclick="location.href='/reportrooms/new'" class="item">
		<div class="col">
			<ion-icon name="chatbubble-ellipses-outline" role="img" class="md hydrated" aria-label="chatbubble ellipses outline"></ion-icon>
			<span class="badge badge-danger">글쓰기</span>
		</div>
	</a>

</div>

<%= render 'formedit', reportroom: @reportroom %>
<%= render 'layouts/sidebar', rooms: @roomtype2 %>

<script src="/assets/js/lib/popper.min.js"></script>
<script src="/assets/js/lib/bootstrap.min.js"></script>
